*{
    margin: 0;
    padding: 0;
}

body{
    background-color:antiquewhite;
    text-align: center;
    line-height: 2.2;
}

.hero{
    padding: 20px 10px;
}

.hero img{
    border-radius: 40%;
    margin-bottom: 10px;
}

.section h2{
    font-size: 22px; 
}

.hero h2{
    font-size: 37px;
}

.accent{
    color:rgb(118, 197, 166);
}

.grid {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.grid div{
    padding: 15px;
    border-radius: 100px;
    background-color: rgb(101, 130, 130);
    width: 90px;
}


@media (max-width: 768px){
    body{background-color: rgb(166, 193, 193);}
}

